.titulo {
    color: rgb(130, 35, 35);
    text-align: center ;
    padding-top: 1em;
    display: flow-root;

}

.imagen {
    width: 150px;
  height: 100px;
  float: inline-start;

}

.ul,li{
  display: block;
  list-style: none;
  text-align: center;
  justify-content:last baseline;
  padding: 14px 16px;
  overflow: hidden;
  float: left;

}

